<h1>User Registration</h1>

<form method="post" action="/user">
    <div class="registration-form-group">
        <label>
            User Name
            <input type="text" name="Username" value="Username" class = "form-control" />
        </label>
        <label>
            Email
            <input type="email" name="Email" value="Email" class = "form-control"/>
        </label>
        <label>
            Password
            <input type="password" name="Password1" value="Password" class = "form-control"/>
        </label>
        <label>
            Confirm Password
            <input type="password" name="Verify" value="Verify Password" class = "form-control"/>
        </label>
        <input type ="submit" value="Submit" />
    </div>
</form>
