<h1>User Registration</h1>

<p>@ViewBag.error</p>


<form method="post" action="/user">
    <div class="registration-form-group">
        <label>
            User Name
            <input type="text" name="Username" value="@ViewBag.name" class = "form-control" />
        </label>
        <label>
            Email
            <input type="email" name="Email" value="@ViewBag.email" class = "form-control"/>
        </label>
        <label>
            Password
            <input type="password" name="Password1" class = "form-control"/>
        </label>
        <label>
            Confirm Password
            <input type="password" name="Verify" class = "form-control"/>
        </label>
        <input type ="submit" value="Submit" />
    </div>
</form>


