@*User*@



<h1>Success!</h1>

<h2>Thank you @ViewBag.name for registering with us. It'll be our treat to treat <em>you</em> at your upcoming visit!</h2>

<p>
    <a asp-controller="Spa" asp-action="Index">Home Page</a>
</p>